@{
    ViewData["Title"] = "Đăng nhập";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Login.css" />
}
<div class="login-page">


<form asp-action="Login" method="post">
    <div class="form-group">
            <h2>Đăng nhập</h2>
        <label>Tên đăng nhập</label>
        <input type="text" name="username" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Mật khẩu</label>
        <input type="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Đăng nhập</button>
        <div style="display: flex;justify-content: space-between;">
            <div style="margin-top:20px; text-align:left;">
                <a href="/Account/Register">Chưa có tài khoản? Đăng ký</a>  
            </div>
            <div style="text-align: right; margin-top: 19px;">
                <a asp-controller="Account" asp-action="ForgotPassword">Quên mật khẩu?</a>
            </div>
    </div>
        
</form>

<div style="margin-top:20px; text-align:center;">
<a href="/Account/Register">Chưa có tài khoản? Đăng ký</a>
</div>
@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger mt-2">
        @foreach (var err in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@err.ErrorMessage</div>
        }
    </div>
}

</div>
