@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div style="margin-top:20px; ">
        <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-secondary mt-2">Đổi mật khẩu</a>
    </div>
</div>
